<% if current_user %>
  <% provide(:title, "Home") %>
  <div class="container">
    <h1>Here is some info about you...</h1>
    <div class="panel-body">
      <ul>
        <li><strong>Name:</strong> <%= current_user.name %></li>
        <li><strong>Admin:</strong> <%= current_user.admin %></li>
      </ul>
    </div>
</div>
<% else %>
  <%= provide(:title, "Login") %>
  <div class="container">
    <div class="jumbotron">
      <h1>I/O</h1>
      <br>
      <p>Log in with Google to begin!</p>
      <br>
      <p><%= link_to "Log in with Google", "/auth/google_oauth2/" %></p>
    </div>
  </div>
<% end %>
<div class="footer">
  <p><%= link_to "About I/O", "#" %></p>
  <p><%= link_to "Contact Us", "#" %></p>
</div>
