<% if current_user %>
  <% provide(:title, "Home") %>
  <div class="container">
    <h1>Here is some info about you...</h1>
    <div class="panel panel-default">
    <div class="panel-body">
      <ul>
        <li><strong>Name:</strong> <%= current_user.name %></li>
        <li><strong>Provider:</strong> <%= current_user.provider %></li>
        <li><strong>uID:</strong> <%= current_user.uid %></li>
        <li><strong>Location:</strong> <%= current_user.location %></li>
        <li><strong>Avatar URL:</strong> <%= current_user.image_url %></li>
        <li><strong>URL:</strong> <%= current_user.url %></li>
      </ul>
    </div>
  </div>
</div>
<% else %>
  <%= provide(:title, "Login") %>
  <div class="container">
    <div class="jumbotron">
      <h1>Inventory App</h1>
      <p>Log in with Google to begin!</p>
      <br>
      <%= link_to "Log in with Google", "/auth/google_oauth2" %>
    </div>
  </div>
<% end %>
