<div>
  <span><%= image_tag(@item.image, alt: @item.name)%></span>
  <br>
  <br>
  <span><b>Status: </b><%= "#{@status.name}" %></span>
  <br>
  <% if current_user.admin? %>
    <% if @status.name != "In" %>
        <span><b>Holder: </b><%= "#{@status.holder}" %></span>
        <br>
        <span><b>Due Date: </b><%= "#{@status.due.to_s(format= :long)}" %></span>
        <br>
    <% end %>
  <% end %>
    <span><b>Description: </b><%= @item.description %></span>
</div>
