<%= provide(:title, "#{@item.name}") %>
<div class="container">
  <h1><%= @item.name %></h1>
  <p>
    <span><%= image_tag(@item.image, alt: @item.name) if @item.image?%></span>
  </p>
  <p>
    <span><%= @item.description %></span>
  </p>
  <p>
    <span><%= "Status: #{@item.status}" %></span>
  </p>
  <% if @item.status != "In" %>
    <p>
      <span><%= "Holder: #{@item.holder}" %></span>
    </p>
    <p>
      <span><%= "Due: #{@item.due}" %></span>
    </p>
  <% end %>
  <p>
    <span><%= link_to "Edit Item", edit_item_path(@item) %></span>
    <span> | </span>
    <span><%= link_to "Delete Item", @item, method: :delete, data: {confirm: "Are you sure you want to delete #{@item.name}?"} %> </span>
  </p>
  <p><span><%= link_to "Back to Inventory", index_path %></span></p>
</div>
