<%= provide(:title, "#{@item.name}") %>
<div class="container">
  <div>
    <h1><%= @item.name %></h1>
    <%= render "items/editdeletelinks" %>
  </div>
  <div class="panel-body">
    <%= render "items/descriptionbody" %>
  </div>
  <div>
    <%= render "items/historytable" %>
    <span><%= link_to "Back to Inventory", location_path(@location.id) %></span>
  </div>
</div>
