<%= provide(:title, "Locations") %>
<div class="container">
  <h1>Locations</h1>

  <%= form_tag locations_path, :method => "get" do %>
    <p>
      <%= text_field_tag :location_search, params[:location_search] %>
      <%= submit_tag "Search", :name => nil %>
    </p>
  <% end %>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Items</th>
        <% if current_user.super_admin? %>
          <th></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @locations.each do |location| %>
      <tr>
        <td><%= link_to location.name, location%></td>
        <td><%= Item.where(location_id: location.id).count %></td>
        <% if current_user.super_admin? %>
          <td><%= link_to "Edit", edit_location_path(location.id) %> | <%= link_to "Delete", location_path(location.id), method: :delete, data: {confirm: "Are you sure you want to delete #{location.name}? Note: this will also delete all of the items associated with the city."} %></td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @locations %>
  <% if current_user.super_admin? %>
    <p><%= link_to "+ Add New Location", new_location_path %></p>
  <% end %>
</div>
