<div class="container">
  <h1><%= @location.name %></h1>
  <%= form_tag location_path(location_id: @location.id), :method => "get" do %>
    <p>
      <%= text_field_tag :item_search, params[:item_search] %>
      <%= submit_tag "Search", :name => nil %>
    </p>
  <% end %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Status</th>
        <% if current_user.admin? %>
          <th>Holder</th>
          <th>Due</th>
          <th></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @items.each do |item| %>
        <% @last_in = Status.where("item_id == ?", item.id).where("name == ?", "In").last %>
        <% if @status = Status.where("item_id == ?", item.id).where("start_time <= ?", Date.today).where("due >= ?", Date.today).where("created_at >= ?", @last_in.created_at).last %>
        <% else @status = Status.where("item_id == ?", item.id).where("start_time <= ?", Date.today).where("created_at >= ?", @last_in.created_at).last %>
        <% end %>
        <tr>
          <td><%= link_to item.name, location_item_path(@location.id, item.id)%></td>
          <td><%= @status.name %></td>
          <% if current_user.admin? %>
            <td><%= @status.holder %></td>
            <% unless @status.due.nil? %>
              <td><%= (@status.due).to_s(:long) %></td>
              <td><%= link_to "Check In", location_item_checkin_path(@location.id, item.id) %></td>
            <% else %>
              <td></td>
              <td><%= link_to "Check Out", location_item_checkout_path(@location.id, item.id) %></td>
            <% end %>
          <% else %>
            <td><%= link_to "Request", location_item_req_path(@location.id, item.id) %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% if current_user.admin? %>
    <p><%= link_to "+ Add New Item", new_location_item_path(@location.id) %></p>
  <% end %>
  <% if current_user.super_admin? %>
    <h1>Import CSV</h1>
    <%= form_tag import_location_items_path(params[:id]), multipart: true do %>
      <%= file_field_tag :file %>
      <br>
      <%= submit_tag "Import" %>
    <% end %>
  <% end %>
</div>
