<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-brand">
    <%= link_to "Inventory App", root_path %>
    </div>
    <div id="navbar">
    <% if current_user %>
      <ul class="nav navbar-nav">
        <li><%= link_to "Current Inventory", "#" %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Locations <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% Location.all.each do |location| %>
            <li><%= link_to location.name, location %></li>
            <% end %>
          </ul>
        </li>
        <li><%= image_tag current_user.image_url, alt: current_user.name %></li>
        <li><%= link_to "Log Out", logout_path, method: :delete %></li>
      </ul>
    <% else %>
      <ul class="nav navbar-nav">
        <li><%= link_to "Log in with Google", "/auth/google_oauth2/callback" %></li>
      </ul>
    <% end %>
  </div>
</nav>
